
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js" integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let url = "https://barikoi.xyz/v2/api/route/optimized?api_key=NDQyOToxSU1QVFhSSkVZ";

        fetch(url, {
            "method" : "post",
            "body" : JSON.stringify({
                "source": "23.746086,90.37368",
                "destination": "23.746214,90.371654",
                "profile": "car"
            })
        }).then(res => res.json())
        .then(data => console.log(data))
        .catch(err => {
            console.log("=============",err)
        });
    </script>
</body>
</html>